*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Properties for the Left side bar */
.side_bar{
    display: flex;
}
.side_bar_initials
{
   height: 1000px;
    width: 40vh;
    background-color: rgb(31,31,31);
    color: rgb(255, 255, 255);
    
    
}
.profile
{
    
    display: flex;
    width: inherit;
    align-content: center;
    justify-content: space-around;
    
    


}
.pic
{
    width: 30px;
    height: 30px;
    background-color: rgb(175, 238, 117);
    margin: 3px;
    border-radius: 100px;
    

}

.name
{
    padding: 5px;
    margin: 3px;
    /* font-size: 20px; */
    font-weight: 600;
   
}
.refresh{

    height: 15px;
  /* align-content:flex-end; */
  
  margin-top: 10px;
  /* margin: auto; */
  
  /* margin-left: 100px ; */
    
  
    filter: invert(100%);
}
.minimize
{
    /* position: absolute; */
    height: 15px;
    margin-top: 10px;
   
    /* left: 100px; */

  /* align-content:flex-end;
  margin: auto;
     */
    
    filter: invert(100%);
}

.lower_side_bar
{
    height: fit-content;
    

}
.Quiky
{
    /* position: absolute; */
    font-weight:600 ;
    margin:20px 20px   ;
}
a
{
    color: white;
    text-decoration: none;
    margin: 5px;

}


ul.main_links li
{
    margin-left:20px;
    margin-top: 10px;
    list-style: none;
}
ul.main_links li img
{
    height: 20px;
    filter: invert(100%);
    margin-top: 5px;
    margin-right:5px ;
       
}

.middle_bar
{
    
    height: inherit;
    width: auto;
    background-color: rgb(46, 46, 46);
    color: white;
    
}
.search
{
    margin-top: 30px;
    display: flex;
    align-content: center;
}
.corner{
    outline: transparent;
    border-radius: 2rem;
    width: 300px;
    height:30px; 
   padding-left: 10px;
    
}
 .plus{
     border: none;
     outline: transparent;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-top: 3px;
    margin-left: 10px;
    background-image: url(/images/plus.png) ;
    background-repeat: no-repeat;
    cursor: pointer;
    /* background-color:rgb(206,100,183) ; */
    
    /* background-color: transparent; */   
} 
/* .search img
{
    height: 25px;
    width: 25px;
} */


input.corner
{
    height:30px;
    margin-left: 28px;
    
}

.display_site
{
    margin-top: 40px;
    display: flex;
    justify-content: left;
}
.display_icon
{
    height: 30px;
    filter: invert(100%);
    margin-left: 30px;
    
}
.display_operation
{
    margin-left: 10px;
    font-size: 30px;
    font-weight: 600;
}

hr{
    margin-left: 30px;
    margin-top: 20px;
}

.Note_block
{
    margin:20px 40px ;
    width: fit-content;

}
.Note_block p
{

    line-height: 30px;
    max-width: 350px;
}

.Note_block p.Note_heading
{
    font-size: x-large;
    font-weight: 600;
}
.Note_block p.Note_matter
{
    color: rgb(135,135,135);
     
}
.mid_icons
{
    height: 15px;
    filter: invert(100%);
    margin-top: 5px;
    margin-right:5px ;

    
}

.content_display
{
    background-color: rgb(50, 50, 50);
    width: 57%;
    height: inherit;
    color: white;
    display: block;
    
}
.con_dis_nav
{
    display: flex;
}
.Tag
{
    height: 50vh;
    justify-content: center;
    width: 100%;
    align-content: center;
    display: flex;
    
   

}

.Tag_pic
{
    
    margin-top: 30px;
    height: 40vh;
    width: 100vh;
    border-radius: 2rem;
    margin: auto;
}
.Tag p
{
    position: absolute;
    font-size: 7vh;
    top: 35vh;
    left: 100vh;
}
.matter
{
    /* margin-top: 10vh; */
    align-content: center;
    padding: 10vh;
    font-size: 20px;

}